@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(255, 87, 87);
  border-radius: 4px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 120, 120);
}

body {
  display: flex;
  height: 100vh;
  font-family: Montserrat;
  background-color: rgb(255, 255, 255);
}

@keyframes screenShot {
  from {
    width: 50%;
  }
  to {
    width: 0%;
  }
}

@keyframes screenShotReset {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.save {
  margin: 5px;
  display: none;
  right: 0%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 87, 87);
  outline: none;
  border: 2px solid rgb(255, 87, 87);
  border-radius: 20px;
  width: 50px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.tool {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 50%;
  background-color: #fad2df;
  border-right: 5px solid #fd98b8;
}

img {
  min-width: 45%;
  height: auto;
  object-fit: cover;
}

.enter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.inp {
  border: 3px solid #ff6795;
  width: 237px;
  margin: 3px;
  height: 40px;
  border-radius: 15px;
}

.min {
  border: 3px solid rgb(76 73 103);
  width: 100px;
  margin: 3px;
  height: 40px;
  border-radius: 15px;
}

.min {
  padding: 2px;
  text-align: center;
  outline: none;
  font-size: 14px;
}

.enter input {
  padding: 2px;
  text-align: center;
  outline: none;
  font-size: 14px;
  width: 50%;
}

.btn {
  border: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #ff6795;
  margin: 5px;
  width: 120px;
  height: 45px;
  color: rgb(253, 195, 255);
  border-radius: 15px;
}

.btn:hover {
  background-color: #ff84a9;
}

.export {
  margin-left: 50%;
  padding: 5%;
  width: 45%;
  background-color: rgb(255, 255, 255);
}

#load {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 50%;
  height: 50%;
}

.questions {
  font-size: 14px;
  padding: 5px;
  font-weight: 550;
  color: rgb(77, 77, 77);
}

.answers {
  padding: 5px;
  font-size: 14px;
  margin-left: 15px;
  font-weight: normal;
}

.answers-right {
  padding: 5px;
  font-size: 14px;
  margin-left: 15px;
  color: rgb(255, 87, 87);
  font-weight: bold;
}

.mb {
  margin: 5px;
  display: none;
  right: 0px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 87, 87);
  outline: none;
  border: 2px solid rgb(255, 87, 87);
  border-radius: 20px;
  width: 50px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.export .questions img {
  max-height: 50px;
  width: auto;
  min-width: 0%;
}
.questions-child {
  color: black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 15px;
}
.export .questions .answers-right img {
  background-color: rgb(255, 195, 195);
}
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  body {
    display: initial;
  }
  .mb {
    display: initial;
  }
  .tool {
    display: flex;
    width: 100%;
    position: initial;
    border-radius: 0px 0px 20px 20px;
    border: none;
  }
  .export {
    margin-top: 30px;
    width: 100%;
    margin-left: 0%;
    padding: 0%;
  }
  .questions {
    font-size: 14px;
    font-weight: 500;
  }
  .save {
    right: 15%;
  }
}
